.todo_style {
    display:flex;
    flex-direction:row;
    justify-content:left;
    align-items:center;
}

.todo_style .fa-times{
    width:20px;
    height:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #8566aa;
    border-radius:50%;
    margin:0 15px 0 35px;
    color:aliceblue;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);


}

.todo_style .fa-times:hover{
  background-color: crimson;
}

.todo_style .fa-times:hover .list_style{
    color:crimson;
}